APP_NAME=MMSY
APP_ENV=local
APP_KEY=base64:4CtsPBYQhIOp5M16GGrcjNrAAP3XtuHXDTRXopqdM2c=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Asia/Kolkata

ASSET_URL="${APP_URL}"

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mmsy_laravel
DB_USERNAME=root
DB_PASSWORD=password

DB_OLD_DATABASE=mmsydb

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=82734da6164750
MAIL_PASSWORD=e1dc3a73fa2fff
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=mmsy2018@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SMS_GATEWAY_USERNAME=hpgovt-MMSY
SMS_GATEWAY_PASSWORD=MMSY@234
SMS_GATEWAY_SENDER_ID=hpgovt
SMS_GATEWAY_KEY=754d1f83-3a95-4ff8-9b3f-c8545f55e471
SSO_SERVICE_ID=10000074
SSO_SECRET_KEY=64544ef28c3464e7fb0a50430154076fd80adff05a9ed1613b72a9b72b7b9044
