@font-face {
    font-family: 'Tahta'; 
    src: url('../../public/font/FontsFree-Net-Tahta-Demo.ttf') , 
        
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.wrapper{
    /*background-image: url('../../public/images/backtwo.jpg');*/
    background: url('https://st4.depositphotos.com/16940446/39797/v/450/depositphotos_397974052-stock-illustration-orange-white-gradient-soft-background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    /* background: #efefef; */
   
}
div#card-4 {
    display: flex;
    padding: 0px 13px;
}
img.cm_image {
    position: relative;
    top: -67px;
    max-width: 227px;
    width: 100%;
    height: 223px;

}
.design_card {
    background: #234669;
    padding: 12px 29px;
    border-radius: 12px;
    transform: skewX(-16deg);
    text-align: center;
}
.himachal_gov_logo img {
    width: 132px;
}
.image-text img {
    max-width: 250px;
}
.banner_section {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

img.name_banner_one {
    position: absolute;
    max-width: 390px;
    left: 13px;
    top: -85px;
    z-index: 999;
}
#bdy .modal-dialog {
    max-width: 750px !important;
    width:100% !important;
    z-index: 9999999;
}

img.name_banner_two {
    position: absolute;
    right: -139px;
    max-width: 497px;
    top: -169px;
    z-index: 999;
}

img.industrial_minister {
    max-width: 231px;
    width: 100%;
    object-fit: cover;
}
.card-4-wrapper img {
    height: 65px;
}
.design_card h5 a {
    color: #FFD700 !important;
 text-align:center !important;
}
.card-4-wrapper ul li {
    line-height: 21px;
    text-align: left;
}
ul.achivelist {
    max-width: 360px;
    margin: auto;
}

ul.achivelist li {
    list-style-type: none;
    border: 1px solid #ff6400;
    padding: 6px 8px;
    border-top: 0px;
    color: #002657;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.main_mmsy {
    padding-top:20px;
    padding-bottom: 10px;
}
marquee a {
    color: #234669;
    text-decoration: none;
    letter-spacing: normal;
    margin-right: 20px;
}
.row.main_mmsy p {
    font-family: 'Montserrat';
    font-size: 16px;
    margin: 0px;
    padding: 10px 0px;
}
.main_mmsy button {
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    padding: 8px 30px;
}
.main_mmsy button:hover{
    background:#fff;
    color:#002161;
}

.independence_and_achivement h3 {
    font-size: 40px;
    max-width: 650px;
    margin: auto;
    padding-bottom: 30px;
    font-family: 'Courgette', cursive;
}

ul.achivelist {
    border-top: 1px solid #ff6400;
    padding: 0px;
}
.achievements h2 {
    font-size: 30px;
    max-width: 401px;
    color: #ff6400;
    margin: auto;
    padding-bottom: 10px;
    font-family: 'Courgette', cursive;
}
.independence_and_achivement {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
.mmsy_about {
    padding-bottom: 20px;
}
.card-4-wrapper {
    background: #FF6400;
    max-width: 370px;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    font-family: oswald;
    margin-left: auto;
    width: 100% !important;
}
.card-4-wrapper ul {
    margin-bottom: 0px;
    padding: 0px;
}
.card-4-wrapper h4 {
    max-width: 87px;
    width: 100%;
    line-height: 20px;
    text-align: right;
    font-size: 19px;
    margin-bottom: 0px;
}
marquee {
    width: 100%;
}
.card-4-wrapper li {
    list-style-type: none;
}
.container.notification_custom {
    padding: 0px;
}
marquee.col-md-9 {
    max-width: 416px;
    border-bottom: 1px solid black;
    padding-bottom: 7px;
}
marquee.col-md-9 {
    max-width: 416px;
}
.card-4-wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.design_card h5  {
    transform: skew(16deg);
    font-size: 16px;
    margin-bottom: 0px; 
}
.cm_section {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: -14% !important;
}

.wrapper:after {
    content: "";
    width: 100%;
    clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
    height: 115px;
    position: absolute;
    z-index: 99;
    background: white;
    bottom: 0px;
}

.design_card h5 a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    line-height: 14px;
}
.nav.navcustommain a {
    color: #234669;
    text-decoration: none;
     font-size: 18px;
    font-family: Poppins;
    font-size: 22px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}

.wrapper-inner {
    max-width: 1278px;
    margin: auto;
    padding: 10px;
}

button#v-pills-n-tab {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600 !important;
    white-space: nowrap;
    margin: 5px !important;
}
.nav-pills .nav-link.active {
     font-family: 'Montserrat';
      font-size: 15px !important;
    font-weight: 600 !important;
}

.flex-wrapper {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
}

.nav.navcustommain a:hover {
    color: #ff6400;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    min-width: 200px;
}

.text h1 {
    font-size: 23px;
}

ul.nav-ul {
    padding: 0px;
    display: flex;
    list-style: none;
    padding: 10px;
    column-gap: 15px;
    align-items: center;
    font-size: 16px;
}
button#mobile-toggle {
    height: 40px;
    padding: 20px 15px;
    line-height: 5px;
    background: #234669;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 5px;
}
.nav {
    display: flex;
    justify-content: end;
    align-items: center;
}
.cards-container {
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-top: 0%;

}

 
/* Default styles for larger screens */
.nav-ul {
    display: flex;
    list-style: none;
}

.nav-ul li {
    margin-right: 20px;
}

/* Styles for mobile */
#mobile-toggle {
    display: none; /* Hide the toggle button by default */
    cursor: pointer;
    font-size: 24px;
}

#mobile-dropdown {
    display: none; /* Hide the mobile dropdown by default */
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

ul#mobile-dropdown li {
    list-style-type: none;
     padding: 10px;
    top: 15%;
    display: block;
    text-decoration: none !important;
}

ul#mobile-dropdown {
    position: absolute;
    top: 103px;
    padding: 20px;
}

ul#mobile-dropdown li a {
    text-decoration: none !important;
    color: #234669;
    font-family: 'Montserrat';
}





@media only screen and (max-width: 1024px) {
    .nav-ul {
        display: none !important; /* Hide the navigation on smaller screens */
    }

    .nav.navcustommain {
        order: 3;
    }
    #mobile-toggle {
        display: block; /* Show the toggle button on smaller screens */
    }

    #mobile-toggle.active + #mobile-dropdown {
        display: block; /* Show the mobile dropdown when the toggle button is active */
    }
    .card-4-wrapper ul li {
        line-height: 16px;
        text-align: left;
        font-size: 16px;
    }
    
    .card-4-wrapper h4 {
        max-width: 87px;
        width: 100%;
        line-height: 17px;
        text-align: right;
        font-size: 16px;
    }
    img.cm_image {
        position: relative;
        top: -67px;
        max-width: 212px;
        width: 100%;
        height: auto;
    }
}



@media only screen and (max-width: 768px) {
    .cards-container {
        display: flex;
        column-gap: 15px;
        align-items: center;
        margin-top: 2%;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }
    .card-4-wrapper {
               margin-left: inherit;
    }
    .independence_and_achivement h3 {
        font-size: 30px;
    }
    ul.achivelist li {
           font-size: 17px;
    }
    .cm_section {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 1%;
    }
    img.industrial_minister {
        max-width: 195px;
        width: 100%;
        object-fit: cover;
    }
    img.cm_image {
        position: relative;
        top: -67px;
        max-width: 173px;
        width: 100%;
        height: auto;
    }
    img.name_banner_two {
        position: absolute;
        right: -108px;
        max-width: 379px;
        top: -169px;
        z-index: 99999;
    }
    img.name_banner_one {
        position: absolute;
        max-width: 309px;
        left: 13px;
        top: -61px;
        z-index: 999;
    }
}



@media only screen and (max-width: 468px) {
    .himachal_gov_logo img {
        width: 102px;
    }
    .image img {
        height: 100%;
        width: 174px;
        object-fit: contain;
        min-width: auto;
    }
    .cm_section {
              margin-top: -7%;
    }
    .independence_and_achivement h3 {
        font-size: 24px;
    }
    .design_card {
        background: #234669;
        padding: 6px 19px;
        border-radius: 12px;
        transform: skew(-16deg);
        text-align: center;
    }
    .design_card h5 a {
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        line-height: 14px;
        font-size: 14px;
        line-height: 4px;
    }
    .design_card h5 {
        transform: skew(16deg);
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 0px;
    }
    img.cm_image {
        position: relative;
        top: -55px;
        max-width: 135px;
        width: 100%;
        height: 146px;
    }
    img.name_banner_two {
        position: absolute;
        right: -82px;
        max-width: 327px;
        top: -159px;
        z-index: 99999;
    }
    img.name_banner_one {
        position: absolute;
        max-width: 272px;
        left: 13px;
        top: -64px;
        z-index: 999;
    }
    img.industrial_minister {
        max-width: 181px;
        width: 100%;
        object-fit: cover;
    }
    ul.achivelist li {
        font-size: 14px;
    }
    .achievements {
        padding: 0px 10px;
        margin-bottom: 40px;
    }
    .image img {
        height: 100%;
        width: 151px;
        object-fit: contain;
        min-width: auto;
    }
    .himachal_gov_logo img {
        width: 88px;
    }
}



@media only screen and (max-width:348px) {
    



}

/* After Header */
.notification-news
{
    background-color: #fff0;
    width: 100;
    position: relative;
}
.notification-news .update {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    color: #fff;
    width: 141px;
    font-size: 15px;
    background-color: #ed3413;
    font-weight: 700;
    z-index: 4;
    text-align: center;
}

marquee
{
color: #6D6D6D;
font-size: 15px;
margin-top: 3px;   
}
.mmsy_outer
{
border: 1px solid #C2C0C0;
background-color: #EFEFEF;
height: auto;
width: 100%;
    padding: 15px;
}
.mmsy_Portal h5 {
    margin-bottom: 0px;
}
.mmsy_Portal
{
    background-color: #ffa23d;
    text-align: center;
    padding: 20px 15px;
    margin-bottom: 20px !important  ;
}
.header_residence h3 {
    padding: 5px!important;
    margin-bottom: 17px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px !important;
    text-transform: capitalize;
}

a.clickhere_custom {
    background: #ff6400;
    color: white;
    font-family: 'Montserrat';
    text-decoration: none;
    padding: 13px 21px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 31px;
    text-transform: capitalize;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.achievements {
    display: block;
    margin-top: 30px;
}

.mmsy_Portal h5
{
color: #ffff;
font-size: 20px;
font-weight: bold;

}
.nav-pills .nav-link.active 
{
    background-color: #727272!important;
    width: 100%!important;
    color:white !important;
}
#v-pills-tab .nav-link:hover {
    background-color: #727272!important;
    width: 100%!important;
    color: white !important;
}
.mmsy_outer button#v-pills-hn-tab {
    margin:5px !important;
}

#v-pills-hn-tab,#v-pills-n-tab,#v-pills-nol-tab,#v-pills-ff-tab,#v-pills-fr-tab,#v-pills-faq-tab,#v-pills-g-tab
{

column-gap: 15px;
display: flex;
color: #010101;
font-size: 16px;
font-weight: 500;
margin: 5px 0px !important;
}
i.fa-solid.fa-bell
{
font-size: 16px;
padding-top: 5px;
}
#v-pills-hn
{
background-color: #F8F8F8;
width: 100%;
}
.card-body
{
width: 100%;
height: auto;
text-align: center;

}
.img-fluid
{
border: 1px solid transparent;
border-radius:100%;
}

button.buttonaward
{
background-color: #F58D1E;
color: #fff;
border: 1px solid;
font-size: 15px;
font-weight: 500;
padding: 10px 30px;
}
.aboutus_right_sections{
    padding-top: 0px;
}
.mmsy_about{
    margin-top: 20px;
}
.top_heading span 
{
color: #000;
font-weight: 500;
}
.top_heading h3 
{
font-size: 22px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
color: #E36E2C;
}
.top_heading p
{

font-size: 15px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: #4B4B4B;
max-width: 100%;
width: 100%;
}
.img-about{
    max-width: 130px !important;
    height: 120px !important;
}
.row.main_about {
    display: flex;
    align-items: center;
}
h1.heading_mmsy
{
text-align: center;
color: #484848;
font-size: 25px;
font-weight: bold;
}
.card-dark
{

background-color: #FFA23D;
margin: 10px;
padding-top: 20px !important;
padding: 10px;
border-radius: 10px;
}
.card-light
{
background-color: #EFEFEF;
margin: 10px;
padding-top: 20px !important;
padding: 10px;
border-radius: 10px;
}
.row.main_mmsy .card-body img {
    filter: brightness(0.5);
}

p.card-text
{
font-size: 20px;
font-weight: 600;
color: #333333;
}
.footer-content
{

background-color: #001529;

}
.footer-content p
{
color: #fff;
font-size: 15px;
float: right;
padding: 10px;
margin-bottom: 0px;

}
.footer-content span
{
color: #FFA23D;
}
.footer-content h6 
{
color: #698494;
padding: 10px;
float: right;
margin-bottom: 0px !important;
}
.social_icon 
{
padding: 10px;
}
.social_icon span
{
padding: 5px;
color: #fff;
}
.center 
{
text-align: center;
}
a.ButtonRound
    {
border: 4px solid #FFFFFF;
border-radius: 10px;
background-color: #F58D1E;
color: #ffffff;
font-weight: bold;
text-decoration: none;
margin: 1px;
padding: 5px 10px 5px 10px;
display: inline-block;
}
.form_outer
{
border-spacing: 1px;
border-style: solid;
border-color: #2C4F85;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
padding: 20px;
}
.form_heading p
{
color: #CC6600;
font-size: 16px;
font-weight: bold;
background-color: #BDE5F8;
text-align: center;
}
.form-inline 
{
margin: 10px;
display: flex;
}
label.col-md-4 {

justify-content: end;
display: flex;
padding: 10px 20px;
}
.notification_outer
{
text-align: center;
text-align: center;
}
.notification
{
background-color: #CC6600;
color: white;
text-decoration: none;
padding: 15px 26px;
position: relative;
display: inline-block;
border-radius: 2px;
font-size: 15px;
}
.notification .badge {
position: absolute;
top: -10px;
right: -10px;
padding: 5px 10px;
border-radius: 50%;
background-color: red;
color: white;
}
.form_title
{
color: #CC6600;
font-size: 16px;
font-weight: bold;
text-align: center;
padding: 10px;
}
.title_outer
{ 
color: #333333;
background-color: #EFE0D1;
padding: 5px;
margin: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;

}
#bdy input[type=text],input[type=password]
{
width: 250px;
border: 1px solid #000;
border-radius: 10px;
}
label.col-md-4
{
justify-content: end;
display: flex;
padding: 10px;
font-size: 12px;
font-weight: bold;
background-color: #EFE0D1;
margin: 5px 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;

}
.btns
{
padding: 10px;
background-color: #EFE0D1;
border-top-right-radius: 10px;
border-top-left-radius: 10px;   
}
button.btn.btn-primary.btn-block.mb-8
{
background-color: #CC6600;
color: white;
border: 1px solid #cc6600;
padding: 5px 10px;
border-radius: 5px;
font-size: 15px;
}
.col a
{
border: 4px solid #FFFFFF;
border-radius: 10px;
background-color: #0000CC;
color: #ffffff;
font-weight: bold;
text-decoration: none;
padding: 5px 10px 5px 10px;
display: inline-block;
}

.nav-pills .nav-link.active
    {
        background-color: #727272!important; 
        width: 100%!important;
       
        
    }
    #v-pills-tab .nav-link:hover
    {
        background-color: #727272!important; 
        width: 100%!important;
       
    }
    #v-pills-hn-tab,#v-pills-n-tab,#v-pills-nol-tab,#v-pills-ff-tab,#v-pills-fr-tab,#v-pills-faq-tab,#v-pills-g-tab
  {

  column-gap: 15px;
  display: flex;
  color: #010101;
  font-size: 16px;
  font-weight: 400!important;
  margin: 20px 0px !important;
  }

  .main_mmsy img
  {
      width: 50px!important;
  }
      .wrapper{
        margin-bottom: 30px;
      }
      .mmsy_outer{
        width: 100%
      }
      .caution
      {
      width: 100%;
      height: auto;
      margin: 2rem 0 0.8rem 0;
      position: relative;
      border: 1px solid #198754;
      }
      .caution-main
      {
      background-color: #E36E2C;
      width: 100%;
      height: auto;
      padding-bottom: 1.1rem;
    }
    .caution .caution-main .caution-head 
    {
      padding: 7px 15px 7px 15px;
      width: auto;
           background-color: #198754;
      border: 1px solid #198754;
      border-radius: 15px;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .caution-main .caution-head h5
  {
      color: #fff;
      font-size: 15px;
      margin-bottom: 0px !important;
  }
  .caution-notice 
  {
      padding: 0 0.5rem;
      width: auto;
      height: auto;
  }
  .caution-notice p 
  {
      text-align: center;
      padding-top: 2.2rem;
      color: #fff
  }
  button.nav-link{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .nav a{
    text-decoration: none;
  }